<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>IndoorGML 1.0</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/indoorgml10</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-indoorgml10-${version}</local-name>
        <title>ets-indoorgml10 Conformance Test Suite</title>
        <description>Describe scope of testing.</description>
        <!-- Add baisc conformance test suites
        <BasicConformanceClasses>
          <conformanceClass>Core</conformanceClass>
        </BasicConformanceClasses>
        -->
      </suite>
      <revision>
        <name>${project.version}</name>
        <status>Beta</status>
        <sources>
          <source>indoorgml10/${spec-version}/ctl</source>
        </sources>
        <webdir>indoorgml10/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
