<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="indoorgml10-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.indoorgml10.TestRunListener" />
    <listener class-name="org.opengis.cite.indoorgml10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.indoorgml10.TestFailureListener" />
  </listeners>

  <test name="AnnexA1">
    <packages>
      <package name="org.opengis.cite.indoorgml10.annexa1" />
    </packages>
  </test>
  <test name="AnnexA2">
    <packages>
      <package name="org.opengis.cite.indoorgml10.annexa2" />
    </packages>
  </test>
</suite>
